{% extends 'layouts/main.twig' %}

{% block body %}
    <h1>Mon profil</h1>

    <p><strong>Nom :</strong> {{ utilisateur.nom }}</p>
    <p><strong>Prénom :</strong> {{ utilisateur.prenom }}</p>
    <p><strong>Email :</strong> {{ utilisateur.email }}</p>
    <p><strong>Rôle :</strong> {{ utilisateur.role }}</p>
    <p><strong>Statut :</strong> {{ utilisateur.statut }}</p>
{% endblock %}